# Ambiente virtual
venv/
.env/
.venv/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Logs e temporários
*.log
*.tmp

# VS Code
.vscode/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Dados locais
data/
datasets/
*.csv
*.xlsx

# Sistema
.DS_Store
Thumbs.db
